.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.floatingGroup {
  top: 30px;
  position: relative;
  width: 200px;
  height: 250px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.image {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
}

.hat {
  top: -63px;
  z-index: 2;
}

